[submodule "reachy_mini"]
	path = reachy_mini
	url = https://github.com/orocapangyo/reachy_mini.git
	branch = develop
[submodule "reachy_mini_stl_convexify"]
	path = reachy_mini_stl_convexify
	url = https://github.com/orocapangyo/reachy_mini_stl_convexify.git
	branch = main
[submodule "reachy_mini_skins"]
	path = reachy_mini_skins
	url = https://huggingface.co/spaces/pollen-robotics/reachy-mini-skins.git
[submodule "reachy_eyes"]
	path = reachy_eyes
	url = https://github.com/brainwavecollective/reachy-eyes.git
[submodule "oss_reachymini"]
	path = oss_reachymini
	url = https://github.com/dreamrobot75/oss_reachymini
